<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CoreNET.CMS.Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CoreNET.CMS.Launcher.Properties.Settings>
      <setting name="Testing" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HWCEnable" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Port" serializeAs="String">
        <value>8088</value>
      </setting>
      <setting name="UpdateHost" serializeAs="String">
        <value>sipdsvc.usadi.id</value>
      </setting>
      <setting name="UpdateRelativePath" serializeAs="String">
        <value>/WebCMS</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>CoreNET CMS Launcher</value>
      </setting>
      <setting name="PathRoot" serializeAs="String">
        <value>D:\CoreNET</value>
      </setting>
      <setting name="PathBakConfig" serializeAs="String">
        <value>D:\CoreNET\Launcher\WebCMS\web.config</value>
      </setting>
      <setting name="URLAdmin" serializeAs="String">
        <value>https://corenet.usadi.id/Login.aspx?kdapp=00.00.02.</value>
      </setting>
      <setting name="URLStatus" serializeAs="String">
        <value>https://corenet.usadi.id/Login.aspx?kdapp=00.00.01.</value>
      </setting>
      <setting name="URLBantuan" serializeAs="String">
        <value>https://corenet.usadi.id/Login.aspx?kdapp=00.99.00.</value>
      </setting>
      <setting name="URLRegister" serializeAs="String">
        <value>https://corenet.usadi.id/App_Portal/RegisterLogin.aspx?kdapp=00.00.02.</value>
      </setting>
      <setting name="URLPortal" serializeAs="String">
        <value>https://corenet.usadi.id/</value>
      </setting>
      <setting name="Moduls" serializeAs="String">
        <value>
          Default|http://localhost:8081/default/Login.aspx?kdapp=00.00.02.
          ||Debug|http://localhost:8081/debug/Login.aspx?kdapp=00.00.02.
        </value>
      </setting>
      <setting name="PathData" serializeAs="String">
        <value>D:\CoreNET\Resources</value>
      </setting>
      <setting name="PathWeb" serializeAs="String">
        <value>D:\CoreNET\WebCMS</value>
      </setting>
      <setting name="PathSln" serializeAs="String">
        <value>D:\CoreNET\Project</value>
      </setting>
    </CoreNET.CMS.Launcher.Properties.Settings>
  </userSettings>
</configuration>