<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Diasoft.CompactCMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <userSettings>
        <Diasoft.CompactCMS.Properties.Settings>
            <setting name="Title" serializeAs="String">
                <value>CoreNET Template</value>
            </setting>
            <setting name="URL" serializeAs="String">
                <value>http://localhost:54321/Login.aspx?kdapp=00.99.00.</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>54321</value>
            </setting>
            <setting name="URLAdmin" serializeAs="String">
                <value>http://localhost:54321/Login.aspx?kdapp=00.00.02.</value>
            </setting>
            <setting name="URLStatus" serializeAs="String">
                <value>http://localhost:54321/Login.aspx?kdapp=00.00.01.</value>
            </setting>
            <setting name="URLBantuan" serializeAs="String">
                <value>http://localhost:54321/Login.aspx?kdapp=00.99.00.</value>
            </setting>
            <setting name="URLRegister" serializeAs="String">
                <value>https://sipd.usadi.id/App_Portal/RegisterLogin.aspx?kdapp=00.00.02.</value>
            </setting>
        </Diasoft.CompactCMS.Properties.Settings>
    </userSettings>
</configuration>