<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="PreSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="PreSetup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<PreSetup.Properties.Settings>
   <setting name="AppDir" serializeAs="String">
    <value>c:/inetpub/wwwroot/Siap</value>
   </setting>
  </PreSetup.Properties.Settings>
	</applicationSettings>
 <userSettings>
  <PreSetup.Properties.Settings>
   <setting name="DataDir" serializeAs="String">
    <value>D:/Docs/</value>
   </setting>
   <setting name="DataSource" serializeAs="String">
    <value>d2WHRzOo/jXYe0rW0Y+hOjsbhZMJ9IHs/+uwE6i8H5ChEQpWX8xo+t74pfKO8BxxK1qPS1hob8y0VV9tIs2P4jZ/t66TTnPCezev7XjoazU=</value>
   </setting>
  </PreSetup.Properties.Settings>
 </userSettings>
</configuration>